-----BEGIN CERTIFICATE-----
MIID7zCCAtegAwIBAgIJAMyGaos6OeMkMA0GCSqGSIb3DQEBCwUAMIGNMQswCQYD
VQQGEwJVUzELMAkGA1UECAwCTlkxETAPBgNVBAcMCE5ldyBZb3JrMRgwFgYDVQQK
DA9Eb1NvbWV0aGluZy5vcmcxCzAJBgNVBAsMAklUMREwDwYDVQQDDAhsb2dzdGFz
aDEkMCIGCSqGSIb3DQEJARYVbXJpY2hAZG9zb21ldGhpbmcub3JnMB4XDTE1MDEx
NDE3MDAzOFoXDTE1MDIxMzE3MDAzOFowgY0xCzAJBgNVBAYTAlVTMQswCQYDVQQI
DAJOWTERMA8GA1UEBwwITmV3IFlvcmsxGDAWBgNVBAoMD0RvU29tZXRoaW5nLm9y
ZzELMAkGA1UECwwCSVQxETAPBgNVBAMMCGxvZ3N0YXNoMSQwIgYJKoZIhvcNAQkB
FhVtcmljaEBkb3NvbWV0aGluZy5vcmcwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
ggEKAoIBAQDMi3UaEVGoK6Lk9uaE9jVXqMbrWNckkwulbvEWkK3/CAE/Jx9WIsj9
NFI/wUP7kZg2HlB/7pdv+SaOtUdadYLtAzqRwsAgYEgurY3LRxL8nHlzg7Y36GlG
PWGA725k/sDkdXZFIdzZS+Lk0qEkcEKWdd7ic23C+bKkMH/K7JzAsgKnAvp0pBet
zazra9y6hwnkBlvIZfpZUilWL1R5z+SZyWJS+WWbau7EQ5rO6qv7uRqN/lOEz9zp
8c2urFyZIt44FakE8kTZ2jERyxoqR/lXtXbD3eeOuz8shB8IUqu7OaG1tCzq9khB
Ee7DMNyEM68Aoz8gyCq/djDay5H4SPApAgMBAAGjUDBOMB0GA1UdDgQWBBR6Lm5j
N3y0wCW5sOR6mabu1CXEZjAfBgNVHSMEGDAWgBR6Lm5jN3y0wCW5sOR6mabu1CXE
ZjAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQA9J6olG9Jb3AS2t/nA
aIoRilt4flQ2Et3TcNIP+a8wIIJM2GMgJHBXhjEzOyj9M0p+ilTm4iCMYVi4cSjx
VWExBWu3nLJJhgugFWoLY77Vpgw+lgqv7RkMkrFf3A8A1IlJV8ksUXyVyLYyB1N1
HpUoz2TI8mn+Pz/WhxXl1iIh7LDoU6ZVAlfnxTwO8DHXIxkmUV0E6JF3qwoKDW1F
eb1OeWXzlbEkK8/55uf2aiu0G6Z0wg7QxplsoT3qToDped5w5vJUDRtcmwyFFXLA
X8ejBW/OmJrxhPavGDHRX7t4L/EFrgoBbG477NMketfhbI7GEVA0ZaLVz7WW/4xI
Xr5F
-----END CERTIFICATE-----
